body {
	background-color: yellow;
}

h1 {
	text-align: center;
}

.image {
	text-align: center;

}

.box1 {
	float: left;
}

.box2 {
	float:right;
}

.addbtn {
	margin-top: 15px;
	margin-left: 89px;
}

.change-devour {
	margin-left: 10%;
}